* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #15191d;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
}
body {
  background-color: #4b538b;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  padding: 10px 5px;
  border-left: 5px solid #d60257;
  margin-bottom: 15px;
  color: #15191d;
}
div {
  background-color: #f7a21b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #15191d;
}
input,
select {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: none;
}
input[type="button"]:active {
  background-color: #e45635;
}
p {
  margin-top: 15px;
  display: flex;
}
